body{
	width: 80%;
	margin: auto;
	font-family: 'Montserrat', sans-serif;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	border-bottom: 1px solid gainsboro;
}

a{
	text-decoration: none;
	color: inherit;
}

#logo{
	font-size: 30px;
	font-weight: bold;
}

#main-screen{
	height: 80vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#main-screen ul{
	list-style-type: circle;
	font-style: italic;
}

footer{
	margin-top: 20px;
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid gainsboro;
}

.welcome-image{
	width: 50%;
}