*, *:before, *:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
}

footer, header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #283E4A;
	color: rgba(255, 255, 255, 0.8);
	padding: 0px 40px;
}

header{
	height: 10vh;
}

footer{
	height: 10vh;
	color: rgba(255, 255, 255, 0.3);
}

#logo{
	font-weight: bolder;
	font-size: 25px;
	color: rgba(255, 255, 255, 0.5);
}

header ul{
	display: flex;
}

ul{
	list-style-type: none;
}

li{
	display: inline-block;
}

#main-section{
	height: 80vh;
	display: flex;
	justify-content: center;
	align-content: center;
}

.drop-down-button{
	padding: 15px 20px;
	border-radius: 50px;
	background-color: #3b4549;
	margin: 10px 10px;
	font-size: 20;
	font-weight: bold;
	color: white;
	max-width: 250px;
	letter-spacing: 1.5px;
}

hr{
	margin: auto;
	width: 90%;
	height: 3px;
	opacity: 0.2;
	background-color: black;
}

.button{
	padding: 5px 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px black;
	box-sizing: border-box;
	margin-right: 20px;
	cursor: pointer;
	font-weight: bolder;
	color: rgba(255, 255, 255, 0.8);
}

.clear-blue{
	background-color: rgba(255, 255, 255, .8);
	color: #283E4A;;
}

#registration-block, #login-block{
	padding: 50px;
}

input[type='text'], input[type='email'], input[type='password']{
	width: 300px;
	padding: 5px 20px;
	margin: 5px 0px;
	border: 2px solid white;
	border-radius: 5px;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	font-weight: bold;
	font-size: 20;
	outline: none;
}

#correct-email-error, #correct-password-error, #password-match-error{
	width: 300px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	overflow-wrap: break-word;
	padding: 5px 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	margin-bottom: 5px;
	font-weight: bold;
}

input:focus{
	border: 2px solid #283E4A; 
}

.submit-button{
	margin: 10px 0px;
	padding: 6px 10px;
	outline: none;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	font-size: 20;
	font-weight: bolder;
	border: none;
	border-radius: 5px;
}

.flash_message{
	width: fit-content;
	padding: 10px 20px;
	border-radius: 5px;
	border: 1px solid grey;
	margin-top: 5px;
	font-weight: bold;
	font-family: Helvetica;
	letter-spacing: 1px;
}

#main-container{
	height: 80vh;
	display: flex;
}

#main-screen{
	flex: 3;
}

#aside-card{
	padding: 10px 20px 10px 10px;
	flex: 1;
}

#aside-card #up, #aside-card #down{
	height: 50%;
}

#aside-card #up p, #aside-card #down p{
	padding: 5px 10px;
	margin-bottom: 5px;
}

#aside-card #down p{
	background-color: white;
}

#aside-card #up p{
	border-radius: 5px;
	color: white;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	background-color: #283E4A;
}

#channel-creation, #join-channel, #join-conversation{
	display: none;
}

#start_conversation_button, #create_channel_button, #join_channe_button{
	cursor: pointer;
	font-weight: bold;
}