{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block html %}

	{% block head %}

		{% block styles %}
			<link rel="stylesheet" type="text/css" href="/statics/css/style.css">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		{% endblock %}
		{% block metas %}
			<meta name="viewport" content="width=device-width, initial-scale=1">
		{% endblock %}

	{% endblock %}

	{% block body %}
		<header>
			<div id="logo"><a href="{{ url_for('index') }}">Flask Messenger</a></div>
			<div id="navbar" class="navbar">
				{% block navbar %}
				{% endblock %}
			</div>
		</header>
		<section>

			{% for message in get_flashed_messages() %}
				<h4 class="flashed_message">{{ message }}</h4>
			{% endfor %}
			
			{% block content %}{% endblock %}

		</section>
		<footer>
			<div id="copy-rights">Copy Rights &copy; Flask Messenger 2021</div>
			<div id="company">Flask Messenger</div>
		</footer>
	{% endblock %}

	{% block scripts %}
		{{super()}}
		{{moment.include_moment()}}
		<script type="text/javascript" src="/statics/javascript/app.js"></script>
	{% endblock %}

{% endblock %}