{% extends 'base_template.html' %}


{% block title %}Home Page{% endblock %}

{% block navbar %}

	{% if current_user.is_authenticated %}
		<div id="navdiv"><div><div class="button" id="account">{{current_user.username}}</div> <div class="hide" id="user_profile_option_card"><p>Account</p><p>Settings</p><a href="{{ url_for('auth.logout') }}"><p>LogOut</p></a></div></div> <a class="button" href="{{ url_for('auth.logout') }}">Logout</a></div>
	{% else %}
		<a href="{{ url_for('auth.login') }}"><button class="">Login</button></a>
		<a href="{{ url_for('auth.register') }}"><button class="">Register</button></a>
	{% endif %}

{% endblock %}

{% block content %}
	<div id="main-container">
		<div id="main-screen">
			<div>
				<h1>Welcome to Flask Messenger</h1>
				<p>Join Flask Messenger to laverage group and direct conversations with the people around you.</p>
				<ul>
					<li>Create channels</li>
					<li>Start new conversations from anywhere</li>
					<li>Connect with people nearby that share same interests</li>
				</ul>
				<a href="{{ url_for('auth.login') }}"><button>Get Started</button></a>
			</div>
			<img class="welcome-image" src="/statics/img/message-welcome-banner.png" alt="">
		</div>
	</div>
{% endblock %}