<div id="join-channel">
	<h3>Join a chanel</h3>
	<hr>
	<!-- perform a search on key down to desplay the matching channels -->
	<div class="fake-container">
		<input type="search" name="search_channel" placeholder="Type in the name of the channel">
		<button type="submit" id="search_channel_button" disabled>Search</button>
	</div>
	<hr>
	<h3>Relevant channels</h3>
	<div id="search_channel_list">
		<!-- query for all the existing channels and display their na and desctiption | only the first 10 then a view more botton -->
	</div>
</div>