{% extends 'base_template.html' %}


<!-- {% block title %}Signin Page{% endblock %} -->

{% block navbar %}

	{% if current_user.is_authenticated %}
		<p><span>{{current_user.username}}</span> <a href="{{ url_for('auth.logout') }}">Logout</a></p>
	{% else %}
		<a href="{{ url_for('auth.login') }}">Login</a>
		<a href="{{ url_for('auth.register') }}">Register</a>
	{% endif %}

{% endblock %}

{% block content %}
	<section id="main-section">
		<div>
			<h2>Please provide your new password</h2>
			{{wtf.quick_form(form)}}
		</div>
	</section>
{% endblock %}