{% extends 'base_template.html' %}


{% block title %}Registration Page{% endblock %}

{% block navbar %}
	<ul id="buttons">
		<a href="{{ url_for('auth.login') }}"><li id="signin" class="button white">Login</li></a>
	</ul>
{% endblock %}

{% block content %}
	<section id="main-section">
		<div id="registration-block">
			{{wtf.quick_form(form)}}
			<div>
				<p>Do have an account? | <a href="{{ url_for('auth.login') }}">Login</a></p>
			</div>
			<div>
				<p id="correct-email-error">Type in a correct mail address</p>
				<p id="correct-password-error">Password should contain: number, special caracter, number(LWC&UPC)</p>
				<p id="password-match-error">Passwords should match</p>
			</div>
		</div>
	</section>
{% endblock %}