{% extends 'base_template.html' %}


<!-- {% block title %}Signin Page{% endblock %} -->

{% block navbar %}

	{% if current_user.is_authenticated %}
		<p><span>{{current_user.username}}</span> <a href="{{ url_for('auth.logout') }}">Logout</a></p>
	{% else %}
		<a href="{{ url_for('auth.login') }}">Login</a>
		<a href="{{ url_for('auth.register') }}">Register</a>
	{% endif %}

{% endblock %}

{% block content %}
	<section id="main-section">
		<div>
			<p>For you to reset your password, please provide the email address associated with your account.</p>
			{{wtf.quick_form(form)}}
		</div>
		<div>
			<p>Did not get the confirmation email? | <a href="{{ url_for('auth.resend_confirmation') }}">Resend confirmation</a></p>
		</div>
	</section>
{% endblock %}