<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div id="wrapper">
		<header>
			{% block header %}{% endblock %}
		</header>

		{% block body %}{% endblock %}

		<footer>
			<div>&copy Copy Rights, Black Hole 2020</div>
			<div id="join-media">
				<ul>
					<li>Instagram</li>
					<li>Twitter</li>
					<li>Facebook</li>
					<li>LinkedIn</li>
				</ul>
			</div>
		</footer>
	</div>
	<script src="/static/javascript/handlebars-v4.7.6.js"></script>
	<script id="result" type="text/template">
		<li>
			{% raw -%}
				<ul class={{ name }}>
					<li>My name is: {{ name }}</li>
					<li>I am {{ age }} years old</li>
					<li>And I live in {{ city }}</li>
				</ul>
			{%- endraw %}
		</li>
	</script>
	<script id="channel-creation" type="text/template">
		<div id="channel-creation">
			<h3>Create a new chanel</h3>
			<hr>
			<div class="fake-container">
				<form id="create_channel_form" data-form="create_channel" onsubmit="event.preventDefault();submit_form(this)">
					<input type="text" id="channel_name" name="channel_name" placeholder="Enter channel name"><br>
					<input type="text" id="channel_description" name="channel_description" placeholder="Enter channel description"><br>
				<!-- remove disabled but should be put back -->
					<button type="submit" id="start_channel_button">Create</button>
				</form>
			</div>
		</div>
	</script>
	<script id="join-conversation" type="text/template">
		<div id="join-conversation">
			<h3>Start an new conversation</h3>
			<hr>
			<!-- perform a search on key down to desplay the matching names | account -->
			<div class="fake-container">
				<form id="join_conversation_form" data-form="search_people" onsubmit="event.preventDefault();submit_form(this)">
					<input type="search" name="search_people" placeholder="Type in a name of some people">
					<!-- remove disabled but should be put back -->
					<button type="submit" id="search_people_button">Search</button>
				</form>
			</div>
			<h3>Relevant people</h3>
			<div id="search_people_list">
				<!-- query for all the existing user and display their name and details | only the first 10 then a view more botton -->
			</div>
		</div>
	</script>
	<script id="join-channel" type="text/template">
		<div id="join-channel">
			<h3>Join a chanel</h3>
			<hr>
			<!-- perform a search on key down to desplay the matching channels -->
			<div class="fake-container">
				<form id="join_channel_form" data-form="search_channel" onsubmit="event.preventDefault();submit_form(this)">
				<input type="search" name="search_channel" placeholder="Type in the name of the channel">
				<!-- remove disabled but should be put back -->
				<button type="submit" id="search_channel_button">Search</button>
			</div>
			<hr>
			<h3>Relevant channels</h3>
			<div id="search_channel_list">
				<!-- query for all the existing channels and display their na and desctiption | only the first 10 then a view more botton -->
			</div>
		</div>
	</script>
	<script type="text/javascript" src="/static/javascript/app.js"></script>
</body>
</html>