<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div id="wrapper">
		<header>
			{% block header %}
				<div id="logo">
					<a href="{{url_for('index')}}">Flask Messenger</a>
				</div>
			{% endblock %}
		</header>

		{% block body %}{% endblock %}

		<footer>
			<div>&copy Copy Rights, Black Hole 2020</div>
			<div id="join-media">
				<ul>
					<li>Instagram</li>
					<li>Twitter</li>
					<li>Facebook</li>
					<li>LinkedIn</li>
				</ul>
			</div>
		</footer>
	</div>
	<script src="/static/javascript/handlebars-v4.7.6.js"></script>
	<script id="result" type="text/template">
		<li>
			{% raw -%}
				<ul class={{ name }}>
					<li>My name is: {{ name }}</li>
					<li>I am {{ age }} years old</li>
					<li>And I live in {{ city }}</li>
				</ul>
			{%- endraw %}
		</li>
	</script>
	<script id="user-conversation-area" type="text/template">
		{% raw -%}
			<div class="message-block">
				<h3>Message area</h3>
				<div class="message-area">
					{{#each message}}
						{{#ifCond this.from_id this.current_user}}
							<div class="message sent">
								<h6>{{this.from_user}}</h6>
								<p>{{this.body}}</p>
								<h6>{{this.sent}}</h6>
							</div>
						{{else}}
							<div class="message recieved">
								<h6>{{this.from_user}}</h6>
								<p>{{this.body}}</p>
								<h6>{{this.sent}}</h6>
							</div>
						{{/ifCond}}
					{{/each}}
				</div>
				<div class="text-area">
					<form data-type="direct" data-fromuser="{{from_user}}" data-touser="{{to_user}}" onsubmit="event.preventDefault(); send_message(this)">
						<input type="text", placeholder="Type in text to send">
						<button type="submit">Send message</button>
					</form>
				</div>
			</div>
		{%- endraw %}
	</script>
	<script id="message" type="text/template">
		{% raw -%}
			{{#ifCond from_id current_user}}
				<div class="message sent">
					<h6>{{from_user}}</h6>
					<p>{{body}}</p>
					<h6>{{sent}}</h6>
				</div>
			{{else}}
				<div class="message recieved">
					<h6>{{from_user}}</h6>
					<p>{{body}}</p>
					<h6>{{sent}}</h6>
				</div>
			{{/ifCond}}
		{%- endraw %}
	</script>
	<script id="channel-conversation-area" type="text/template">
		{% raw -%}
			<div class="message-block">
				<h3>Message area</h3>
				<div class="message-area">
					{{#each message}}
						{{#ifCond this.from_id this.current_user}}
							<div class="message sent">
								<h6>{{this.from_user}}</h6>
								<p>{{this.body}}</p>
								<h6>{{this.sent}}</h6>
							</div>
						{{else}}
							<div class="message recieved">
								<h6>{{this.from_user}}</h6>
								<p>{{this.body}}</p>
								<h6>{{this.sent}}</h6>
							</div>
						{{/ifCond}}
					{{/each}}
				</div>
				<div class="text-area">
					<form data-type="channel" data-fromuser="{{from_user}}" data-tochannel="{{to_channel}}" onsubmit="event.preventDefault(); send_message(this)">
						<input type="text", placeholder="Type in text to send">
						<button type="submit">Send message</button>
					</form>
				</div>
			</div>
		{%- endraw %}
	</script>
	<script id="start_conversation_card_template" type="text/template">
		{% raw -%}
			{{#each user}}
				<div id="start_conversation_card">
					<div>
						<h4>{{this.username}}</h4>
						<p>{{this.email}} | Joined: {{this.joined}}</p>
						{{# if this.is_active }}
							<h6>Active now</h6>
						{{ else }}
							<h6>Last seen: {{this.last_seen}}</h6>
						{{/ if }}
					</div>
					<div>
						<button type="submit" data-user="{{this.id}}" onclick="event.preventDefault();join_conversation_via_button_click(this)">Start conversation</button>
					</div>
				</div>
			{{/each}}
		{%- endraw %}
	</script>
	<script id="channel-creation" type="text/template">
		<div id="channel-creation">
			<h3>Create a new chanel</h3>
			<hr>
			<div class="fake-container">
				<form id="create_channel_form" data-form="create_channel" onsubmit="event.preventDefault();submit_form(this)">
					<input type="text" id="channel_name" name="channel_name" placeholder="Enter channel name"><br>
					<input type="text" id="channel_description" name="channel_description" placeholder="Enter channel description"><br>
				<!-- remove disabled but should be put back -->
					<button type="submit" id="start_channel_button">Create</button>
				</form>
			</div>
		</div>
	</script>
	<script id="join-conversation" type="text/template">
		<div id="join-conversation">
			<h3>Start an new conversation</h3>
			<hr>
			<!-- perform a search on key down to desplay the matching names | account -->
			<div class="fake-container">
				<form id="join_conversation_form" data-form="search_people" onsubmit="event.preventDefault();submit_form(this)">
					<input type="search" name="search_people" placeholder="Type in a name of some people">
					<!-- remove disabled but should be put back -->
					<button type="submit" id="search_people_button">Search</button>
				</form>
			</div>
			<h3>Relevant people</h3>
			<div id="search_people_list">
				<!-- query for all the existing user and display their name and details | only the first 10 then a view more botton -->
			</div>
		</div>
	</script>
	<script id="join-channel" type="text/template">
		<div id="join-channel">
			<h3>Join a chanel</h3>
			<hr>
			<!-- perform a search on key down to desplay the matching channels -->
			<div class="fake-container">
				<form id="join_channel_form" data-form="search_channel" onsubmit="event.preventDefault();submit_form(this)">
				<input type="search" name="search_channel" placeholder="Type in the name of the channel">
				<!-- remove disabled but should be put back -->
				<button type="submit" id="search_channel_button">Search</button>
			</div>
			<hr>
			<h3>Relevant channels</h3>
			<div id="search_channel_list">
				<!-- query for all the existing channels and display their na and desctiption | only the first 10 then a view more botton -->
			</div>
		</div>
	</script>
	<script id="channel_card_join_template" type="text/template">
		{% raw -%}
			{{#each channel}}
				<div id="channel-card-join">
					<div>
						<h4>{{this.name}}</h4>
						<p>{{this.description}}</p>
						<h6>Created: {{this.created}}</h6>
					</div>
					<div>
						<button type="submit" data-channel="{{this.id}}" onclick="event.preventDefault();join_channel_via_button_click(this)">Join</button>
					</div>
				</div>
			{{/each}}
		{%- endraw %}
	</script>
	<script type="text/javascript" src="/static/javascript/app.js"></script>
	<script type="text/javascript" src="/static/javascript/moment.js"></script>
</body>
</html>